<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sign In - BookNest</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="/signin" method="post">
        <label>Email:</label><br />
        <input type="email" name="email" required /><br /><br />

        <label>Password:</label><br />
        <input type="password" name="password" required /><br /><br />

        <button type="submit">Sign In</button>
    </form>
    <p><a href="/">Back to Home</a></p>
</body>
</html>
