<header class="navbar">
  <div class="navbar-left">
    <!-- Logo -->
    <img src="/images/booknest-logo.png" alt="BookNest Logo" class="logo">
    <!-- Site Name -->
    <span class="site-name"><%= siteName %></span>
  </div>

  <nav class="navbar-right">
    <a href="/" class="nav-link">Home</a>
    <a href="/signin" class="nav-link">Sign In</a>
    <a href="/signup" class="nav-link">Sign Up</a>
  </nav>
</header>
